<html>

<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<title>Facebook TimeMachine</title>
</head>

<body>
	<form action="/connect/facebook" method="POST">
		<div class="page-header" style="background-color: #15317E">
			<h2 align="center" style="color:#FFFFFF">Facebook Time Machine </h2>
            <input type="hidden" name="scope" value="read_stream,user_photos"/>
		</div>
		<div class="formInfo" style="text-align:center">
			<p>You aren't connected to Facebook yet. Click the button to connect this application with your Facebook account.</p>
		</div>
		<br/>
		<br/>
		<div align="center">
			<button type="submit" class="btn btn-default" style="color: #15317E">Connect to Facebook</button>
		</div>
	</form>
</body>

</html>